body {
   background-color: darkcyan;
}

main {
width: 108%;
height: 180vh;
align-items: center; 
justify-content: center;
display: flex;
flex-direction: column;
}

h1 {
color: #fff;
text-align: center;
}

img {
border-radius:10px;
}
.cor{
    background-color: black;
}